html{
    scroll-behavior:smooth;
}








body{
     background:rgb(194, 194, 194);
    
     }


.oblic-line0{
    position:absolute;
    background-color:rgb(143, 143, 143);
    clip-path: polygon(0% 0%, 100% 0, 100% 23%, 0 63%);
    width:100vw;
    height:70vh;
    top:0;
    left:0;
    right:0;

    z-index:-1;
}

.oblic-line1{
    position:absolute;
    background-color: rgb(95, 94, 94);
    clip-path: polygon(0 100%, 100% 100%, 100% 23%, 0 63%);
    width:100vw;
    height:70vh;
    margin-top:350px;
    bottom:0px;
    left:0;
    right:0;
    z-index:-1;

 
}
 
.oblic-line2{

    position:absolute;
    background-color: rgb(143, 143, 143);
    clip-path: polygon(50% 0, 94% 44%, 68% 42%, 63% 100%, 34% 100%, 27% 43%, 3% 43%);
    width:100vw;
    height:70vh;
    top:1300px;
    bottom:0px;
    left:0;
    right:0;
    z-index:-1;


    


}   
.uparrow {
    position:fixed;
    background: rgb(164, 211, 255);
    width:8.5vh;
    height:8.5vh;
    line-height: 9vh;
    text-align:center;
    font-size:25px;
    padding:10;
    text-decoration: white;
    border-radius:50%;
    bottom:7vh;
    right:25px;
 


}




.container{
    margin-top:15px;
    margin-bottom:15px;
    border:5px solid rgb(105, 105, 105);
    padding:10px;
    border-radius:20px;
    background-image:url("/background-img.jpg") 
    
    


 
}

input{
    color: #ffffff;
}


::placeholder { 
    color: rgb(209, 209, 209);
    opacity: 20; 
  }
  

#myInput { 
    position:relative;
    font-size: 4vh;
    height:10vh;
    width:55vw;
    margin-top:10px;
    margin-bottom:25px;
    display:block;
    border:5px solid  rgb(255, 255, 255);
    border-top-right-radius:25px;
    border-bottom-right-radius:25px;
    border-top-left-radius:25px;
    text-align:center;
    background-color:rgb(38, 38, 221);
    animation-name: imputAnimation;
    animation-duration: 5s;
    background-repeat: no-repeat; 
    box-sizing:border-box; 
    box-shadow: 10px 15px 8px  rgba(0 ,0 , 0, 0.5); 
               
    
   
    }

#myInput:hover{
    background-color:rgb(85, 85, 255);

}

 @keyframes imputAnimation {
    from {background-color: rgb(255, 255, 255);}
    to {background-color: rgb(38, 38, 221);}
      }     
      
@keyframes resultsAnimation {
    from   {font-size: 20px;
        color: rgb(148, 148, 148);
        opacity: 10%;}

    to {font-size: 18px;
            color: rgb(0, 0, 0);
            opacity: 100%; 
        }  

}

.header{
    animation-name: headerAnimation;
    animation-duration:  300ms;
    font-size: 6vh;
}

@keyframes headerAnimation {
    from   {font-size: 45px;
          color: rgb(148, 148, 148);
          opacity: 10%;}
  to {font-size: 27px;
        color: rgb(0, 0, 0);
        opacity: 100%; 
    }  
}    

     
#myUL {
    list-style-type: none;
    padding: 0; 
    margin: 10px;
  
         } 
         
#myUL li a { 

    border: 1px solid rgb(179, 179, 179);
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 12px; 
    
    text-decoration: none;
    font-size: 18px; 
    color: black; 
    display: block;
    animation-name: resultsAnimation;
    animation-duration: 1s;

 } 


 #myUL li a.header {
  
    background-color: #d6d6d6;
    font-family: 'Open Sans', sans-serif;
    font-size:27px;
    cursor:default;
    text-align:center;
   
                 } 
#myUL li a:hover:not(.header) { 
    background-color: #eee; 
                    
                    }


                    



/*MEDIA QUERY*----------------------------------------*/


    
    
